{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="row">
    <form method="post" class="col-4 offset-4">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 text-dark font-weight-light">Please sign in</h1>
        <label class="sr-only" for="inputUsername">Username</label>
        <input type="text"
               id="inputUsername"
               name="username"
               placeholder="Username"
               class="form-control login__input--top"
               required
               autofocus
               value="{{ last_username }}">
        <label class="sr-only" for="inputPassword">Password</label>
        <input type="password"
               id="inputPassword"
               name="password"
               placeholder="Password"
               class="form-control login__input--bottom"
               required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary" type="submit">Sign in</button>
        <a href="{{ url('app_register') }}" class="btn btn-secondary">Register</a>
    </form>
</div>
{% endblock %}
