.nav__title h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.nav__title:hover {
    text-decoration: none;
}

.new-post__title {
    font-family: 'Playfair Display', serif;
}

.post-card {
    height: 250px;
}
.post-card__text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-card__title, .post__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}