body {
    font-family: 'Roboto', sans-serif;
}

.login__input--top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}
.login__input--bottom {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 10px;
}
.login__input--top, .login__input--bottom {
    position: relative;
}
.login__input--top:focus, .login__input--bottom:focus {
    z-index: 2;
}

.nav__title h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.nav__title:hover {
    text-decoration: none;
}

.new-post__title {
    font-family: 'Playfair Display', serif;
}

.post-card {
    height: 250px;
}
.post-card__text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-card__title, .page__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.post-editor__text {
    min-height: 72px;
}